.body{
    background-image: url("https://i.imgur.com/ksEhjoG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.button1 {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 6px 8px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 1px 1px;
    cursor: pointer;
    width: 100%;
}

.header{
    background-color: black;

}

h1{
    color: white;
}

.foto{
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-bottom: auto;

}

p{
    color: white;
    width: 20%;
    margin-left: 10%;
    text-align: center;
}

h2{
    color: orangered;
}

h3{
    color: orangered;
}

div.informatie{
    text-align: center;
}