.button1 {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 6px 8px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 1px 1px;
    cursor: pointer;
    width: 100%;
}

.header{
    background-color: black;

}

p{
    color: white;
    width: 20%;
    margin-left: 10%;
    text-align: center;
}

h1{
    color: white
}

div.info{
    text-align: center;
}