.body{
background-color: whitesmoke;
}

.button1 {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 6px 8px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 1px 1px;
    cursor: pointer;
    width: 100%;
}

.header{
    background-color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    border-bottom: 10px;
}

h1{
    color: white;
}

h2{
    color: black;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 100px;
    padding: 10%;
}

h3{
    color: black;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 100px;
    padding: 10%;  
}

.home{
    text-align: center;
    position: static;
    margin-right: 10%;
    margin-left: 15%;
    width: 50%;
}



.inleiding{
    text-align: center;
    position: static;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}

.container{
    text-align: center;
    position: static
    
}

.footer{
    color: white;
    background-color: black;
    margin-bottom: 0%;
    text-align: center;
    padding-top: 1px;
    margin-top: 20%;
    width: 100%;
}

p{
    text-align: center;
    width: 90%;
    margin-left: 10px;
    padding-left: 10%;
}