body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(71, 71, 71);
}
.landing_img { /*achtergrond img css*/
  background-image: url("https://i.imgur.com/DHdA5kI.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.title_text { /*title css*/
  position: absolute;
  top: 45%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 300%;
  color: rgb(0, 0, 0);
}
.navbar { /*navbar code*/
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar a {
  float: left;
  color: #ffffff;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  border-right: 1px solid rgb(153, 153, 153);
}
.navbar a:hover {
  background: rgb(80, 80, 80);
  color: rgb(228, 228, 228);
}
.main_left {
  position: absolute;
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 150%;
  word-wrap: break-word;
  padding: 40px;
}
.images {
  float: right;
  margin-left: 20 px;
  height: 380px;
  width: 470px;
}