.body{
    background-image:url(../afbeeldingen/sala-regia.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.button1 {
    background-color: whitesmoke;
    border: 1px solid black;
    color: black;
    padding: 6px 8px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 1px 1px;
    cursor: pointer;
    width: 100%;
}

