body {
    font-family: 'Roboto', sans-serif;
}
.landing_img { /*achtergrond img css*/
    background-image: url("https://i.imgur.com/DHdA5kI.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.title_text { /*title css*/
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 300%;
    color: rgb(0, 0, 0);
  }